@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
:root{
    --price-one:rgb(197, 6, 6);
    --price-two:rgb(4, 87, 4);
}
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:"Roboto", sans-serif;
    overflow: auto;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
span{
    display: inline-block;
}

li{
    list-style: none;
}
img{
    max-width: 100%;
}
/*------------------Main-header--------------------------*/
#main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(210, 85%, 24%);
    color: #fff;
    padding: .3rem 0;
}
#main-header #container{
    margin-right: 1rem;
}
#main-header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#main-header .logo{
    margin: .5rem 1rem;
}
#main-header i{
    font-size: 2rem;
    color: red;
}
#main-header h1{
    text-transform: capitalize;
}
#contacts i{
    font-size: 1.5rem;
    color:red;
    margin-right: 5px;
}
#contacts .span-2{
    display: none;
}
#phone{
    margin-left: .5rem;
}

/*----Main navigation links-----*/
#main-nav{
    margin-left: 2rem;
}
#main-nav ul{
    list-style: none;
}
#main-nav li{
    display: inline-block;
    padding: 2px;
}
#main-nav a{
    text-transform: capitalize;
    margin: .2rem;  
}
#main-nav a:hover{
    border-bottom: 2px solid #fff;
}

/*login/sign up forms*/
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    width: 50%;
    border-radius: 5px;
    background: rgb(28,169,201);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#login h2{
    margin: 1.5rem;
}
#login input{
    padding: 5px;
    max-width: 300px;
    border-radius: 5px;
    margin: 5px;
    outline: none;
    border: 1px solid #ccc;
    transition: width .5s;
}
#login input:focus{
    border: 1px solid rgba(81, 203, 238, 1);
}
#login input[type= "text"]:focus{
    width: 400px;
}

#login #button:hover{
    background: #093e72;
    color: #fff;
}

/*-------------showcase---------------------*/
#showcase{
    min-height: 40vh;
    background: url(https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat center/cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
#showcase h3{
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#showcase p{
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: .5rem;
}
#showcase a{
    padding: .7rem 1.5rem;
    background: #093e72;
    border-radius: 5px;
    transition: .3s ease-out;
    margin-top: 1rem;
}
#showcase a:hover{
    transform: scale(1.2);
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*----------Second navigation links*--------------*/
#second-nav{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content:space-around;
   background-color:rgb(0,33,71);
   color: #fff;
   padding: .5rem;
   margin: auto;
   height: auto;
   position: sticky;
   top: 0;
   z-index: 1; 
}
#second-nav ul{
    list-style: none;
}
#second-nav li, #dropdown{
    display: inline-block;
    position: relative;
    padding: 5px;
}
#second-nav a,#dropdown-btn{
    text-decoration: none;
    color: #fff;
    margin:.3rem;
    padding: 5px;
    border: 1px solid #093e72;
    border-radius: 5px;
    display: inline-block;
}
#dropdown-btn i{
    margin-left: .5rem;
    color: #fff;

}
#dropdown-content{
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}
#dropdown-content a{
    display: block;
    border: none;
    color: #000;
}
#dropdown-content i{
    transition: .5s ease-in-out;
    color: #000;
}
#dropdown-content:hover i{
    color: #fff;
    transform: translateX(80%); 
}
#dropdown-content a:hover{
    background: #fff;
}
#dropdown:hover #dropdown-content{
    display: block;
}
#second-nav a:hover{
   background: #093e72;
   color: #fff;
}

/*---Newsletter form---*/
#second-nav form{
    display: flex;
    align-items: center;
}
#second-nav h3{
    margin-right: 5px;
    color:#fff;
    text-transform: capitalize;
}
#second-nav [type="email"], [type="submit"]{
    padding: .5rem;
    border-radius: 5px;
    outline: #1e90ff;
    border: 1px #ddd solid;
}
#second-nav [type="email"]{
    width: 15rem ;
    border: 1px solid #093e72;
}
#second-nav [type="email"]:focus{
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
#second-nav [type="submit"]{
    color: #000;
    margin-left: 5px;
    border: 1px solid #093e72;
}
#second-nav [type="submit"]:hover{
    background: #093e72;
    color: #fff;
}
/*--------------Cards------------------*/
main h2{
    background: #093e72;
    color: #fff;
    padding: 3px;
    text-transform: capitalize;
}
#product-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.product{
   max-width: 10vw;
   margin:.3rem;
   padding: 5px 0;
   text-align: center;
   border-radius: 5px;
   transition: .3s ease-in-out;
}
.product:hover{
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
.product-img{
    max-width: 100%;
}
.product-img img{
    width: 50%;
    margin: 2px;
    object-fit: contain;
}
.product-description{
    margin: 2px auto;
}
.btn{
    width: 80%;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #093e72;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
}
.btn:hover{
    background: #093e72;
    color: #fff;
}

/*---------------Catalogue and tables--------------*/
#catalogue{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2rem;
}

#tables{
    width: 100vw;
}
.table-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
}
.table-filter #table-input{
    padding: .7rem;
    width: 80%;
    border: 2px solid rgba(81, 203, 238, 1);
    border-radius: 5px;
    outline: none;
    transition: width .5s;
}
.table-filter #table-input:focus{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}

/*tables*/
table{
    table-layout: auto;
    text-align: center;
    margin: 2rem auto;
    max-width: 30vw;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table, caption{
    text-transform: uppercase;
}
caption{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
}
th{
    background-color: rgb(0,33,71);
    color: #fff;
    padding: 1rem;
}
td{
    padding: .2rem;
    border-bottom: 1px solid #093e72;
    text-transform: capitalize;
}
td:nth-last-child(2){
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--price-one);
}
td:nth-last-child(3){
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--price-two);
}
tr{
    background-color:#fff;
}
tr:nth-child(){
    background-color: #ebf6f7;
}

tr:hover{
    background-color: rgb(28,169,201);
    color: #fff;
}
#product{
    width: 50%;
    transition: width .5s ease-out;
}
#product:hover{
    width: 100%;
    height: auto;

}

/*..........links......*/
#links{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#links a{
    text-decoration: none;
    color: #fff;
    margin: 2px;
    background-color: #093e72;
    padding: 8px 1rem;
    border-radius: 5px;
    margin: .5rem 1rem;
}

/*-------------------------footer-----------------------------------*/
footer{
    padding: 1rem;
    background: #093e72;
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    text-align: center;
}
footer p{
    margin:0 1rem;
    text-transform: capitalize;
}
#terms a{
    color: #fff;
    margin:.3px .6rem;
    text-decoration: none;
}
#terms a:hover{
    border-bottom: 1px solid #fff;
}
#main-footer{
    margin-right: 4rem;
}
#main-footer i{
    font-size: 1.5rem;
    cursor: pointer;
    pointer-events: none;
}
#main-footer a{
    color: #fff;
    margin: .5rem;
    display: inline-block;
}
#main-footer a:hover{
    color: red;
}
/*----------Serivices-----------*/
#accordion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#accordion-container h1{
    font-size: 2.5rem;
    background-color: #093e72;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto .5rem auto;
}

.accordion-item{
    width: 95%;
    background-color: #093e72;
    border-radius: .4rem;
    padding: 1rem;
    margin: .5rem auto;
}
.accordion-link{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}
.accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
}
.accordion-link .fa-minus{
    display: none;
}
.answer{
    overflow: hidden;
    max-height: 0;
    position: relative;
    background-color:rgb(28,169,201);
    transition: max-height .8s;
    border-radius: .4rem;
}
.answer::before{
    content: '';
    position: absolute;
    width: .6rem;
    height: 100%;
    background-color: #e7d5ff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}
.answer p{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .6);
    padding: 0 1rem;
}
.accordion-item:target .answer{
    max-height: 20rem;
}
.accordion-item:target .accordion-link .fa-plus{
    display: none;
}
.accordion-item:target .accordion-link .fa-minus{
    display: block;
}

/*------------Media queries--------------*/
@media screen and (max-width: 768px){
    #main-header{
        position: sticky;
        z-index: 2;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        top: 0;
        left: 0;
    }
    #main-header i{
        font-size: 2rem;
    }
    #main-header h1{
        text-transform: capitalize;
        font-size: 1.8rem;
        margin-right: 1rem;
    }
    #contacts{
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;
    }
    #contacts i{
        font-size: 1.2rem;
    }
    #contacts .span-2{
        display: inline-block;
    }
    #phone{
        margin-right: 1.5rem;
    }

    /*Hambuger-menu*/
    #main-nav{
        margin-right: none;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        background-color: red;
    }
   
    #main-nav a:hover{
        border-bottom: none;
    }
    .hamburger-menu{
        width: 1.8rem;
        height: 1.6rem;
        position: fixed;
        z-index: 2;
        top: .6rem;
        right: 1.5rem;
        margin: auto;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line{
        width: 100%;
        height: 3px;
        background-color: red;
        transition: all .5s;
    }
    .change .line-1{
        transform: rotateZ(-45deg) translate(-8px, 6px);
    }
    .change .line-2{
        opacity: 0;
    }
    .change .line-3{
        transform: rotateZ(45deg) translate(-8px, -6px);

    }
    .navbar{
        z-index: 2;
        width: 200px;
        height: 100vh;
        background-color: rgb(28,169,201);
        columns: #fff;
        position: fixed;
        top: 0;
        right: -200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% 0 0 50%;
        transition: right .5s cubic-bezier(1, 0, 0, 1);
    }
    .change{
        right: 0;
    }
    #nav-list{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .nav-item{
        margin: 5px;
    }
    .nav-link{
        letter-spacing: 2px;
        position: relative;
        padding: 3px 0;
    }
    .nav-link::before,
    .nav-link::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: red;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform .5s;
    }
    .nav-link::after{
        bottom: 0;
        transform-origin:right;
    }
    .nav-link::before{
        top: 0;
        transform-origin:left;
    }
    .nav-link:hover::before,
    .nav-link:hover::after{
        transform: scaleX(1);
    }
 
    /*--------------Showcase-----*/
    #showcase{
        height: 40vh;
        overflow: hidden;
    }
    #second-nav{
        position: relative;
    }
    #second-nav form{
        display: none;
    }
    #second-nav li,#dropdown{
        margin:0 1rem;
    }
    .table-filter #table-input{
        width: 100%;
    }
    .table-filter #table-input:focus{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 100%;
    }
    table{
        max-width: 50vw;
    }
    th{
        padding: .4rem;
    }
    td{
        padding: 2px;
        border-bottom: 1px solid #093e72;
    }
    #product{
        width: 10%;
    }
    #product:hover{
        width: 20%;
    }
    #product-category{
       
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
       margin: none;
     }
     .product{
        max-width: 30vw;
        margin:.3rem;
        padding: 5px 0;
        text-align: center;
        border-radius: 5px;
        transition: .3s ease-in-out;
     }
     .btn{
         width: 80%;
     }
    #links{
        padding: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #links a{
        text-decoration: none;
        color: #fff;
        margin: 2px;
        background-color: #093e72;
        padding: .5rem .5rem;
        border-radius: 5px;
        margin: .5rem .5rem;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    footer p{
        font-size: 1.5rem;
        margin: .5rem 0;
        text-transform: capitalize;
    }
    #main-footer{
        margin-right:none;
    }
    #main-footer a{
        color: #fff;
        margin: 1rem;
        display: inline-block;
    }

}
@media screen and (max-width: 568px){
    #main-header .logo{
        margin: 0 auto;
        margin: 5px 1rem;
    }
    #main-header .logo i{
        font-size: 1.5rem;
    }
    #main-header h1{
        font-size: 1.4rem;
    }
    /*showcase*/
    #showcase{
        min-height: 35vh;
    }
   #showcase h3{
       margin-top: .5rem;
       font-size: 1.5rem;
   }
   #showcase p{
       font-size: .9rem;
       margin-top: 5px;
   }
   #showcase a{
       padding: .3rem .8rem;
       margin-bottom: 1rem;
   }

   /*second navigation*/
   #second-nav{
       padding: .2rem;
       display: flex;
       justify-content:center;
       align-items: center;
   }
   #second-nav a{
       margin:2px .1rem;
       display: inline-block;
       font-size: .9rem;
       background-color: #093e72;
   }
   #second-nav a i{
       display: none;
   }
   #dropdown:hover #dropdown-content{
       display: none;
   }
   #second-nav form{
    display: none;
   }


   /*cards*/
   main h2{
       text-align: center;
   }
   #product-category{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: .5rem;
   }
   .product{
       max-width: 70vw;
   }
   .product:hover{
       transform: none;
   }
   .product-img{
       max-width: 70%;
       margin: auto;
   }
   .product-img img{
       margin: auto;
       height: 50%;
   }
   .product-description{
       padding: none;
   }
   .btn{
       width: 50%;
       padding: 3px;
   }

   /*catalogue*/
   #catalogue{
     display: grid;
     grid-template-columns: 1fr;
   }
   #catalogue h2{
       display: none;
   }
   #catalogue #catalogue-ref{
       display:flex;
       height: auto;
       width: auto;
   }
   #catalogue #catalogue-ref a{
       padding: 2px;
       display: inline-block;
   }
   #catalogue #catalogue-ref a:hover{
       transform: none;
   }

   /*table*/
   #tables{
    font-size: .6rem;
    overflow-x: scroll;
}
    .table-filter{
        margin: .5rem 0;
        width: 20rem;
    }
   #links{
       padding:.5rem;
   }
   #links a{
    margin: none;
    background-color: #093e72;
    padding: 3px .3rem;
    border-radius: 5px;
    margin:.2rem;
}

   /*footer*/
   footer{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       padding: 1rem;
       font-size: .8rem;
       margin: auto;
   }
   footer p{
       margin: 0 auto;
       font-size: 1.2rem;
   }
   #main-footer{
       margin: 0 auto;
   }
   #main-footer i{
       font-size: 1.2rem;
   }
   #main-footer a{
       margin: .6rem;
   }

 
}
